# Node Artifacts
*/node_modules/
docsite/*/src/**/*.js
docsite/*/lib/
docsite/*/storybook-static/
docsite/*/docsTemp/
docsite/*/build/
.swc/
dist/
# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
docsite/.yarn/*
!docsite/.yarn/patches
!docsite/.yarn/releases
!docsite/.yarn/plugins
!docsite/.yarn/sdks
!docsite/.yarn/versions
docsite/.pnp.*

# Python Artifacts
python/*/lib/
# Test Output
.coverage
coverage/
licenses.txt
python/graphrag/examples_notebooks/*/lancedb
python/graphrag/examples_notebooks/*/data
python/graphrag/tests/fixtures/cache
python/graphrag/tests/fixtures/*/cache
python/graphrag/tests/fixtures/*/output

# Random
.DS_Store
*.log*
.venv
.conda
.tmp


.env
build.zip

.turbo

__pycache__

.pipeline

temp_azurite/
__azurite*.json

# Getting started example
ragtest/
.ragtest/
.pipelines
.pipeline