*.txt text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.html text eol=lf
*.py text eol=lf
*.toml text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
*.lock
CODEOWNERS text eol=lf
LICENSE text eol=lf