---
title: GraphRAG
---
{% set css %}
{% include "page.css" %}
{% endset %}

{% macro link_to(url, text) %}
<a href="{{url}}"{% if page.url == url %} class="is-active" aria-current="page"{% endif %}>{{text}}</a>
{% endmacro %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <style>{{ css | safe }}</style>
    {% mermaid_js %}
  </head>
  <body>
    <header>
        <a href="/"><span class="logotitle">GraphRAG</span></a>
    </header>
    <div class="page-content">
        <!-- Sidebar -->
        <aside class="menu">
          <ul class="menu-list">
            <li>
              {{link_to("/", "Welcome")}}
            </li>

            <!-- Get Started Links -->
            <li>
              {{link_to("/_posts/get_started/", "Get Started")}}
              {{link_to("/_posts/developing/", "Developing")}}
            </li>

            <!-- Indexing Links -->
            <li>
                {{link_to("/_posts/_index/overview/", "Indexing")}}
                <ul>
                  {%- for post in collections.indexing -%}
                  <li>{{link_to(post.url, post.data.navtitle)}}</li>
                  {%- endfor -%}

                  <li>
                    {{link_to("/_posts/_index/_workflows/overview/", "Workflows")}}
                    <ul {% if not "/_posts/_index/_workflows" in page.url %} hidden {% endif %}>
                        {%- for post in collections.workflow -%}
                        <li>{{link_to(post.url, post.data.navtitle)}}</li>
                        {%- endfor -%}
                    </ul>
                  </li>

                  <li>
                    {{link_to("/_posts/_index/_verbs/overview/", "Verbs")}}
                    <ul {% if not "/_posts/_index/_verbs" in page.url %} hidden {% endif %}>
                      {%- for post in collections.verb -%}
                      <li>{{link_to(post.url, post.data.navtitle)}}</li>
                      {%- endfor -%}
                    </ul>
                  </li>

                  <li>
                    {{link_to("/_posts/_config/overview/", "Configuration")}}
                    <ul>
                      <li>{{link_to("/_posts/_config/env_vars", "Using Env Vars")}}</li>
                      <li>{{link_to("/_posts/_config/json_yaml", "Using JSON or YAML")}}</li>
                      <li>{{link_to("/_posts/_config/custom", "Fully Custom")}}</li>
                    </ul>
                  </li>
                </ul>
            </li>
            

            <!-- Query Links -->
            <li>
              {{link_to("/_posts/_query/overview/", "Query")}}
              <ul>
                {%- for post in collections.orchestration -%}
                <li>{{link_to(post.url, post.data.navtitle)}}</li>
                {%- endfor -%}
                <li>
                  {{link_to("/_posts/_query/notebooks/overview/", "Notebooks")}}
                  <ul>
                    <li>{{link_to("/_posts/_query/notebooks/global_search_nb", "Global Search")}}</li>
                    <li>{{link_to("/_posts/_query/notebooks/local_search_nb", "Local Search")}}</li>
                  </ul>
                </li>
            </ul>
            </li>
          </ul>
        </aside>

        <!-- Main Content -->
        <main>
            <h1>{{title}}</h1>
            {{ content | safe }}
        </main>
    </div>
  </body>
</html>