<!DOCTYPE html>
<html>
<head>
    <title>Covariate Information</title>
    <style>
        table {
            margin: auto;
            border-collapse: collapse;
            width: 50%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
            text-align: center;
        }
        td {
            text-align: left;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Claims Information</h1>
    <table>
        <tr><th>Attribute</th><th>Value</th></tr>
        <tr><td>Subject ID</td><td>{{ data.subject_id }}</td></tr>
        <tr><td>Subject Type</td><td>{{ data.subject_type }}</td></tr>
        <tr><td>Covariate Type</td><td>{{ data.covariate_type }}</td></tr>
        <tr><td>Text Unit IDs</td><td>{{ data.text_unit_ids }}</td></tr>
        <tr><td>Document IDs</td><td>{{ data.document_ids }}</td></tr>
        <tr><td>Attributes</td><td>{{ data.attributes }}</td></tr>
    </table>
</body>
</html>