aiofiles==24.1.0
aiolimiter==1.2.1
annotated-types==0.7.0
anyio==4.8.0
anytree==2.12.1
asttokens==2.4.1
attrs==24.3.0
autograd==1.7.0
azure-common==1.1.28
azure-core==1.32.0
azure-cosmos==4.9.0
azure-identity==1.19.0
azure-search-documents==11.5.2
azure-storage-blob==12.24.0
backcall==0.2.0
backlash==0.3.2
beartype==0.18.5
beautifulsoup4==4.12.3
bleach==6.2.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
contourpy==1.3.1
crank==0.8.1
cryptography==44.0.0
cycler==0.12.1
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
devtools==0.12.2
distro==1.9.0
docopt==0.6.2
environs==11.2.1
executing==2.1.0
fastjsonschema==2.21.1
fnllm==0.0.10
fonttools==4.55.3
future==1.0.0
gearbox==0.2.2
gensim==4.3.3
graspologic==3.4.1
graspologic-native==1.2.1
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
hupper==1.12.1
hyppo==0.4.0
idna==3.10
ipython==8.12.3
isodate==0.7.2
jedi==0.19.2
Jinja2==3.1.5
jiter==0.8.2
joblib==1.4.2
json_repair==0.30.3
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
kiwisolver==1.4.8
lancedb==0.17.0
llvmlite==0.44.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.25.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.0
msal==1.31.1
msal-extensions==1.2.0
nbclient==0.10.2
nbconvert==7.16.5
nbformat==5.10.4
networkx==3.4.2
nltk==3.9.1
numba==0.61.0
numpy==1.26.4
openai==1.59.9
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
PasteDeploy==3.1.0
patsy==1.0.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.1.0
pipreqs==0.5.0
platformdirs==4.3.6
portalocker==2.10.1
POT==0.9.5
prompt_toolkit==3.0.50
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==15.0.2
pycparser==2.22
pydantic==2.10.5
pydantic_core==2.27.2
Pygments==2.19.1
PyJWT==2.10.1
pylance==0.20.0
pynndescent==0.5.13
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
referencing==0.36.1
regex==2024.11.6
repoze.lru==0.7
requests==2.32.3
rich==13.9.4
rpds-py==0.22.3
scikit-learn==1.6.1
scipy==1.12.0
seaborn==0.13.2
shellingham==1.5.4
six==1.17.0
smart-open==7.1.0
sniffio==1.3.1
soupsieve==2.6
stack-data==0.6.3
statsmodels==0.14.4
Tempita==0.6.0
tenacity==9.0.0
tg.devtools==2.4.3
tgext.debugbar==0.5.0
threadpoolctl==3.5.0
tiktoken==0.8.0
tinycss2==1.4.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
TurboGears2==2.4.3
typer==0.15.1
typing_extensions==4.12.2
tzdata==2024.2
umap-learn==0.5.7
urllib3==2.3.0
wcwidth==0.2.13
webencodings==0.5.1
WebOb==1.8.9
wrapt==1.17.2
yarg==0.1.9
